<div class="top-wrapper">
  <div class="top-inner">
    <div class="title">
      <div class="start_switch">
        <%= button_to "ポモスタート",{controller: 'timers', action: 'index'},{method: :get} %>
      </div>
    </div>
    <div class="animal_switch">
      <p>動物登録</p>
      <p>動物一覧</p>
    </div>
  </div>
</div>