<footer class="bg-amber-400 fixed bottom-0 left-0 right-0 h-20 flex justify-between">
  <small class="flex items-center ">
    <p class="text-amber-700 ml-5">© 2025 Nobuhiro Sato</p>
  </small>
  <nav class="flex justify-between items-center">
    <h1 class="mr-5 text-amber-900 text-2xl hidden sm:block">素材提供元</h1>
    <ul class="grid justify-items-end mr-5 text-amber-700">
      <li><%= link_to "フリー素材「ぱくたそ」様",   'https://www.pakutaso.com' %></li>
      <li><%= link_to "効果音ラボ 様", 'https://soundeffect-lab.info/' %></li>
    </ul>
  </nav>
</footer>